@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Rubik+Wet+Paint&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Audiowide&family=Press+Start+2P&family=Rajdhani:wght@400;600;700&family=Exo+2:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap");

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}
.font-audiowide {
  font-family: "Audiowide", cursive;
}
.gaming-retro {
  font-family: "Press Start 2P", cursive;
  /* works best for headers or short text */
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.fontAudioWide {
  font-family: "Audiowide", cursive;
}

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-stack: "Stack Sans Notch", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-alfa: "Alfa Slab One", serif;
  --font-wetpaint: "Rubik Wet Paint", cursive;
}
#video-container {
  clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0% 100%);
}
.floating-bar {
  transform: translateY(0);
}
.floating-bar nav {
  background: black;
}

.navLinks a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  /* transform: translateX(100%); */
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.3s ease-out;
}
.navLinks a:hover::after {
  /* transform: translateX(0); */
  transform: scaleX(1);
  transform-origin: 0 100%;
  /* transform-origin: right; */
}
.indicator-line {
  @apply h-1 w-px rounded-full bg-white transition-all duration-200 ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.7s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }
  50% {
    height: 16px;
    transform: translateY(-2px);
  }
  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

.rowSpan {
  grid-row: span 2;
}
.storyImgContainer {
  filter: url("#flt_tag");
}
.story-img-content {
  @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
  /* background-color: aqua; */
}
