@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Rubik+Wet+Paint&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Audiowide&family=Press+Start+2P&family=Rajdhani:wght@400;600;700&family=Exo+2:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap");

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}
.font-audiowide {
  font-family: "Audiowide", cursive;
}
.gaming-retro {
  font-family: "Press Start 2P", cursive;
  /* works best for headers or short text */
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.fontAudioWide {
  font-family: "Audiowide", cursive;
}

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-stack: "Stack Sans Notch", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-alfa: "Alfa Slab One", serif;
  --font-wetpaint: "Rubik Wet Paint", cursive;
}
#video-container {
  clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0% 100%);
}
