@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Notch:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Rubik+Wet+Paint&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Notch:wght@200..700&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-stack: "Stack Sans Notch", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-alfa: "Alfa Slab One", serif;
  --font-wetpaint: "Rubik Wet Paint", cursive;
}
